<form
  #brandedTasteForm="ngForm"
  (ngSubmit)="identifyOperationAndValidateAndRun()"
>
  <label class="form-label">Marcas registradas</label>
  <select
    class="form-select"
    name="brandSelector"
    [(ngModel)]="element.brand!.id"
  >
    <option *ngFor="let brand of registeredBrands" [value]="brand.id">
      {{ brand.brandName }}
    </option>
  </select>
  <label class="form-label">Sabores registrados</label>
  <hr />

  <div *ngIf="!isByManyCharge; else manyItems">
    <select
      class="form-select"
      name="tasteSelector"
      [(ngModel)]="element.taste!.id"
    >
      <option *ngFor="let taste of registeredTastes" [value]="taste.id">
        {{ taste.tasteName }}
      </option>
    </select>
  </div>
  <ng-template #manyItems>
    <app-form-many-branded-taste></app-form-many-branded-taste>
  </ng-template>

  <app-button-forms
    (cancel)="reset()"
    (addMany)="isByManyCharge = true"
  ></app-button-forms>
</form>
