<form
  #brandedTasteForm="ngForm"
  (ngSubmit)="identifyOperationAndValidateAndRun()"
>
  <div *ngIf="isByUpdate">
    <h2 class="text-center display-5">
      Modificando: {{ element.brand.brandName | titlecase }} -
      {{ element.taste.tasteName | titlecase }}
    </h2>
  </div>
  <hr />
  <label class="form-label">Marcas registradas</label>
  <br />
  <div *ngIf="!isByManyCharge; else manyBrands">
    <!-- TODO: make component -->
    <select
      class="form-select"
      name="brandSelector"
      [(ngModel)]="element.brand.id"
    >
      <option *ngFor="let brand of registeredBrands" [ngValue]="brand.id">
        {{ brand.brandName }}
      </option>
    </select>
  </div>

  <ng-template #manyBrands>
    <app-form-many-brand></app-form-many-brand>
  </ng-template>
  <hr />
  <label class="form-label">Sabores registrados</label>
  <br />

  <div *ngIf="!isByManyCharge; else manyTastes">
    <!-- TODO: make a component -->
    <select
      class="form-select"
      name="tasteSelector"
      [(ngModel)]="element.taste.id"
    >
      <option *ngFor="let taste of registeredTastes" [ngValue]="taste.id">
        {{ taste.tasteName }}
      </option>
    </select>
  </div>
  <ng-template #manyTastes>
    <app-form-many-taste></app-form-many-taste>
  </ng-template>
  <hr />

  <app-button-forms
    (cancel)="reset()"
    (addMany)="isByManyCharge = true"
  ></app-button-forms>
</form>
