<mat-toolbar>
  <span>Distribuidora Gustavo</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="fixedbutton">
  <div class="col">
    <div class="row my-2">
      <button type="button"  class="btn btn-success" (click)="sendSimpleMessage()">
        <i class="bi bi-whatsapp"></i>
      </button>
    </div>
    <div class="row my-2">
      <button type="button"  class="btn btn-secondary">
        <i class="bi bi-share"></i>
      </button>
    </div>
    <div class="row my-2" *ngIf="hasCartItems">
      <button type="button"  class="btn btn-warning" (click)="openDialogDetails()">
        <i class="bi bi-cart-check"></i>
      </button>
    </div>
  </div>
</div>