<!-- <h1 mat-dialog-title>Productos Marcados</h1> -->
<mat-dialog-content>
  <div class="table-responsive" *ngIf="!isMobile else forMobile">
    <table class="table" *ngIf="data.length > 0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Sabor</th>
          <th scope="col">Calibre</th>
          <th scope="col">Paquete</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.tasteResul.brandName}}</td>
          <td>{{item.tasteResul.tasteName}}</td>
          <td>{{item.containerSelected.containerName! | drinkContainerName}}</td>
          <td>
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option *ngFor="let package of item.tasteResul.packageAvailable">
                  {{package.description}}-{{package.amount}}U</option>
              </select>
            </div>
          </td>
          <td>
            <div class="input-group limitada">
              <button class="btn btn-warning" type="button" (click)="minusAmount(item)">-</button>
              <input type="text" class="form-control text-center" min="1" [value]="item.amount">
              <button class="btn btn-success" type="button" (click)="plusAmount(item)">+</button>
            </div>
          </td>
          <td>
            <button mat-mini-fab color="warn" (click)="removeItem(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #forMobile>
    <app-shopping-cart-view-mobile [cartItems]="data"></app-shopping-cart-view-mobile>
  </ng-template>
  <h6 *ngIf="false">Datos Personales</h6>
  <div class="row" *ngIf="false">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" name="firstName" required [(ngModel)]="customerData.firstName" >
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Apellido" name="lastName" required [(ngModel)]="customerData.lastName">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input matInput type="tel" placeholder="2657-123456" name="phone" required [(ngModel)]="customerData.phone">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="generateMessage()">Enviar</button>
  <button mat-button color="green" (click)="contactFromWhatsapp()">Contactarme por Whatsapp</button>
</mat-dialog-actions>