<div class="vistas">
  <h1 class="text-center">CREAR - MODIFICAR - ELIMINAR</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a routerLink="/administrador/formatos">
        <div class="card text-bg-danger mb-3">
          <img [src]="urlFormato" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Formatos</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/administrador/marcas">
        <div class="card text-bg-danger mb-3">
          <img [src]="urlMarca" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Marcas</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/administrador/sabores">
        <div class="card text-bg-danger mb-3">
          <img [src]="urlSabor" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Sabores</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  <hr />
  <h1 class="text-center">ESTADO DE STOCK</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a routerLink="/administrador/marcas/estado">
        <div class="card text-bg-success mb-3">
          <img [src]="urlMarca" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Marcas</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/administrador/sabores/estado">
        <div class="card text-bg-success mb-3">
          <img [src]="urlSabor" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Sabores</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
