<div class="text-center" *ngIf="isByUpdate">
  <h6>Modificando:</h6>
  <h3> {{element.brandName}} </h3>
</div>
<form #brandForm="ngForm" (ngSubmit)="identifyOperationAndValidateAndRun()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre de Marca</label>
    <input
      type="text"
      class="form-control"
      name="brand"
      [(ngModel)]="element.brandName"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Enlace del Logo</label>
    <input
      type="text"
      class="form-control"
      name="url"
      [(ngModel)]="element.url"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Enlace del Producto Icónico</label>
    <input
      type="text"
      class="form-control"
      name="urlIconic"
      [(ngModel)]="element.urlIconic"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Categoria de Marca</label>
    <select
    class="form-select"
    aria-label="Default select example"
    name="brandCategory"
    [(ngModel)]="element.brandCategory"
    >
      <option selected>Elegir categoria</option>
      <option *ngFor="let category of categories"  [ngValue]="category"> {{ category.categoryName | titlecase}} </option>
    </select>
  </div>
  <app-button-forms (cancel)="reset()"></app-button-forms>
</form>
