<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Marcas</th>
            <ng-container *ngIf="tipoDeTabla == 'determinado'; else elseTemplate">
                <th scope="col">Opciones</th>
            </ng-container>
            <ng-template #elseTemplate>
                <th scope="col">Estados</th>
            </ng-template>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sabor of saboresCreados; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{sabor.nombre}}</td>
            <td>
                <div class="form-check form-switch form-check-reverse">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                </div>
            </td>
        </tr>
    </tbody>
</table>