<div class="vistas">
  <div class="col">
    <div class="row">
      <h1 *ngIf="marcaElegida">Marca: {{ marcaElegida.nombre }}</h1>
      <button routerLink="/cliente" class="btn btn-primary">volver</button>
    </div>
  </div>

  <div *ngFor="let sabor of saboresDisponibles" class="mt-3 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h1>{{ sabor.nombre }}</h1>
        <strong>Formatos trabajados</strong>
        <ul class="list-group">
          <li
            *ngFor="let formato of saboresFormateados; let i = index"
            class="align-items-center"
          >
            <div class="alert alert-success">nombre del formato</div>
            <ng-template #opcional>
              <div class="alert alert-danger">estado de stock - SIN STOCK</div>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <button routerLink="/cliente" class="btn btn-primary">volver</button>
    </div>
  </div>
</div>
