<div class="vistas">
  <div class="col">
    <div class="row">
      <h1 *ngIf="marcaElegida">Marca: {{ marcaElegida.nombre }}</h1>
      <button routerLink="/cliente">volver</button>
    </div>
  </div>

  <div *ngFor="let sabor of saboresDisponibles">
    <hr />

    <h1>{{ sabor.nombreSabor }}</h1>
    <ol>
      <li *ngFor="let formato of sabor.formatos; let i = index">
        {{ formato.tipo }} - {{ sabor.estadosStock[i] }}
      </li>
    </ol>
  </div>
  <hr />
  <div class="col">
    <div class="row">
      <button routerLink="/cliente" class="">volver</button>
    </div>
  </div>
</div>
