<div class="vistas">
  <div class="col">
    <div class="row">
      <h1 *ngIf="marcaElegida">Marca: {{ marcaElegida.nombre }}</h1>
      <button routerLink="/cliente" class="btn btn-primary">volver</button>
    </div>
  </div>

  <div *ngFor="let sabor of saboresDisponibles" class="mt-3 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h1>{{ sabor.nombreSabor }}</h1>
        <strong>Formatos:</strong>
        <ul class="list-group">
          <li
            *ngFor="let formato of sabor.formatos; let i = index"
            class="align-items-center"
          >
            <div
              *ngIf="sabor.estadosStock[i]; else opcional"
              class="alert alert-success"
            >
              {{ formato.tipo }}
            </div>
            <ng-template #opcional>
              <div class="alert alert-danger">
                {{ formato.tipo }} - SIN STOCK
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <button routerLink="/cliente" class="btn btn-primary">volver</button>
    </div>
  </div>
</div>
