<div class="vistas">
  <!-- <div class="card text-bg-dark my-2 animate__animated animate__flipInX " style="--bs-bg-opacity: 0.6">
    <h1 class="text-center display-3">Marcas Trabajadas</h1>

  </div> -->
  <a (click)="downloadPDF()">
    <div class="card text-bg-dark my-2 animate__animated animate__flipInX " style="--bs-bg-opacity: 0.6">
      <h2 class="text-center display-5">Descargar resumen PDF</h2>
  
    </div>
  </a>
  <app-gallery-category></app-gallery-category>
  <!-- <app-gallery></app-gallery> -->
</div>