<div class="vistas card p-3 text-center">
  <h1>1 - CREACIÓN</h1>
  <div class="row row-cols-md-4 d-flex justify-content-center">
    <div class="col">
      <a routerLink="/dgadmbr/tamaños">
        <div class="card text-bg-danger mb-3">
          <img src="../../../../assets/img/drink-container.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Tamaños</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/dgadmbr/marcas">
        <div class="card text-bg-danger mb-3">
          <img src="../../../../assets/img/brand.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Marcas</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/dgadmbr/sabores">
        <div class="card text-bg-danger mb-3">
          <img src="../../../../assets/img/taste.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Sabores</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  <h1 class="text-center">2 - ASIGNACIÓN</h1>
  <div class="row row-cols-md-4 d-flex justify-content-center">
    <div class="col">
      <a routerLink="/dgadmbr/vinculacion/marcasabor">
        <div class="card text-bg-warning mb-3">
          <img src="../../../../assets/img/branded-taste.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Marca + Sabor</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/dgadmbr/vinculacion/sabortamaño">
        <div class="card text-bg-warning mb-3">
          <img src="../../../../assets/img/drink-container.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Marca + Sabor + Tamaño</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  <hr />
  <h1 class="text-center">3 - ESTADO DE STOCK</h1>
  <div class="row row-cols-md-4 d-flex justify-content-center">
    <div class="col">
      <a routerLink="/dgadmbr/marcas/estado">
        <div class="card text-bg-success mb-3">
          <img src="../../../../assets/img/brand.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Marcas</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/dgadmbr/vinculacion/marcasabor/estado">
        <div class="card text-bg-success mb-3">
          <img src="../../../../assets/img/branded-taste.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Marca + Sabor</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/dgadmbr/vinculacion/sabortamaño/estado">
        <div class="card text-bg-success mb-3">
          <img src="../../../../assets/img/taste.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Marca + Sabor + Tamaño</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>