<div class="vistas card p-3">
  <h1 class="text-center">1 - CREACIÓN</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a routerLink="/administrador/formatos">
        <div class="card text-bg-danger mb-3">
          <img
            src="../../../../assets/img/drink-container.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Envases</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/administrador/marcas">
        <div class="card text-bg-danger mb-3">
          <img
            src="../../../../assets/img/brand.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Marcas</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/administrador/sabores">
        <div class="card text-bg-danger mb-3">
          <img
            src="../../../../assets/img/taste.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Sabores</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  <h1 class="text-center">2 - ASIGNACIÓN</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a routerLink="/administrador/asignacion/marcasabor">
        <div class="card text-bg-warning mb-3">
          <img
            src="../../../../assets/img/branded-taste.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Marcas y Sabores</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/administrador/asignacion/saborformato">
        <div class="card text-bg-warning mb-3">
          <img
            src="../../../../assets/img/drink-container.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Sabores y Formatos</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  <hr />
  <h1 class="text-center">3 - ESTADO DE STOCK</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a routerLink="/administrador/marcas/estado">
        <div class="card text-bg-success mb-3">
          <img
            src="../../../../assets/img/brand.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Marcas</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/administrador/asignacion/marcasabor/estado">
        <div class="card text-bg-success mb-3">
          <img
            src="../../../../assets/img/branded-taste.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Marcas y Sabores</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/administrador/asignacion/saborformato/estado">
        <div class="card text-bg-success mb-3">
          <img
            src="../../../../assets/img/taste.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Sabores y Formatos</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
