<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marcas</th>
      <ng-container *ngIf="true; else elseTemplate">
        <th scope="col">Opciones</th>
      </ng-container>
      <ng-template #elseTemplate>
        <th scope="col">Estados</th>
      </ng-template>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of listElements; let i = index"
      [ngClass]="item.isStocked ? 'table-success' : 'table-warning'"
    >
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.brandName }}</td>
      <td>
        <app-table-buttons
          (changeStockState)="changeStockState(item)"
          (delete)="delete(item)"
          (update)="update(item)"
        >
        </app-table-buttons>
      </td>
    </tr>
  </tbody>
</table>
