<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Marcas</th>
            <ng-container *ngIf="tipoDeTabla == 'determinado'; else elseTemplate">
                <th scope="col">Opciones</th>
            </ng-container>
            <ng-template #elseTemplate>
                <th scope="col">Estados</th>
            </ng-template>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of marcasCreadas; let i = index"
            [ngClass]="item.isStocked ? 'table-success' : 'table-warning'">
            <th scope="row">{{i+1}}</th>
            <td>{{item.brandName}}</td>
            <ng-container *ngIf="tipoDeTabla == 'determinado'; else elseTemplate">
                <td>
                    <div class="row">
                        <app-table-buttons (delete)="delete(item)" (update)="update(item)"
                            (changeStockState)="changeStockState(item)"></app-table-buttons>
                    </div>
                </td>
            </ng-container>
            <ng-template #elseTemplate>
                <td>
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                    </div>
                </td>
            </ng-template>

        </tr>
    </tbody>
</table>