<p>tabla-formato works!</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Formatos</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let formato of formatosCreados; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{formato.containerName}}</td>
            <td>
                <div class="row">
                    <div class="col">
                        <a>
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a>
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>