<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Marcas</th>
            <ng-container *ngIf="tipoDeTabla == 'determinado'; else elseTemplate">
                <th scope="col">Opciones</th>
            </ng-container>
            <ng-template #elseTemplate>
                <th scope="col">Estados</th>
            </ng-template>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let marca of marcasCreadas; let i = index"
            [ngClass]="marca.estadoStock ? 'table-success' : 'table-warning'">
            <th scope="row">{{i+1}}</th>
            <td>{{marca.nombre}}</td>
            <ng-container *ngIf="tipoDeTabla == 'determinado'; else elseTemplate">
                <td>
                    <div class="row">
                        <div class="col">
                            <a>
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a>
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-template #elseTemplate>
                <td>
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                    </div>
                </td>
            </ng-template>

        </tr>
    </tbody>
</table>