<div class="text-center" *ngIf="isByUpdate">
  <h6>Modificando:</h6>
  <h3> {{ element.containerName! | drinkContainerName}} </h3>
</div>
<form
  #drinkContainerForm="ngForm"
  autocomplete="off"
  (ngSubmit)="identifyOperationAndValidateAndRun()"
>
  <div class="mb-3">
    <label class="form-label">Nombre de Tamaño</label>

    <input
      required
      type="text"
      class="form-control"
      name="drinkContianerName"
      placeholder="Ingresar tamaño..."
      [(ngModel)]="element.containerName"
    />
  </div>
  <app-button-forms (cancel)="cancel()"></app-button-forms>
</form>
