/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.card{
    border: 0px;
}

.spacer{
    font-size: 0; 
    height: 10px;
    line-height: 0;
}

.vistas{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

body{
    background-image: url("assets/img/test.jpeg") ;
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}