<div class="card text-bg-dark my-2 animate__animated animate__flipInX " style="--bs-bg-opacity: 0.6">
    <h2 class="text-center display-5">Categorias</h2>
</div>

<div class="row">
    <div class="col-sm-6" *ngFor="let item of brandCategories">
        
        <div
        class="flex card text-bg-dark my-2 animate__animated animate__flipInX " 
        style="--bs-bg-opacity: 0.6"
        routerLink="/cliente/{{ item.id }}"
        >
            <div class="card-header">
                <h2 class="text-center display-5"> {{item.categoryName | titlecase}} </h2>
            </div>
        </div>
    </div>
</div>

