a{
    cursor: pointer;
}

div{
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

h2{
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-shadow: 5px 5px 10px hsl(0, 2%, 35%), 5px 5px 10px #357a3b;
}